
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">В результате запроса произошла ошибка, повторите попытку позднее.</h2>


@Html.ActionLink("Вернуться на главную", "Index", "Home") 


